/* TODO: Make it awesome */

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #2F323A;
}

body {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #FFFBFA;
}

/* Header & nav */
body > header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #DDDDDD;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}

body > header h1 {
  color: #736CED;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #736CED;
}

nav a:hover {
  color: rgba(115, 108, 237, 0.8);
}

#itemCount {
  margin-left: 10px;
}

/* Main */
main {
  height: calc(100% - 160px);
  display: flex;
  flex-flow: row nowrap;
}

.deck {
  width: 40%;
}

.deck:nth-of-type(1) {
  margin-right: 10%;
}

.deck:nth-of-type(2) {
  margin-left: 10%;
}

.card h1, .card legend {
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

.copy li {
  margin-bottom: 1em;
  line-height: 1.2em;
}

#catalog label {
  margin-right: 40px;
}

#cart {
  text-align: center;
}

#cart th, #cart td {
  width: 100px;
  padding: 20px;
}

/* Footer */
footer {
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p {
  color: #DDDDDD;
}